<h1>Magic 8-Ball</h1>

<div class="gradient"></div>

<div class="outercontainer">
  <div class="white question"><%= @question %></div>
  <div class="ball">
    <div class="blue circle">
      <div class="triangle">
        <div class="square">
          <p><%= @message %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="askz">
    <a href="/" class="askanother buttonz">Ask Again</a>
  </div>
</div>

<script type="text/javascript">
    $(function() {
      $(".triangle").fadeTo( 3000 , 1, function() {
      });
    });
</script>