<h1>Magic 8-Ball</h1>
<br>
<form action="/answer" method="POST">
<label for="question">Please enter a yes-no question:</label>
<input id="question" type="text" name="question">
<br>
<button type="submit" value="submit">Ask question!</button>