<h1>Magic 8-Ball</h1>

<div class="gradient"></div>

<div class="outercontainer">
  <div class="ball">
    <div class="circle">
      <form action="/answer" method="POST">
        <label for="question" class="prompt">What is your question?</label>
        <input id="question" type="text" name="question">
        <button type="submit" value="submit" class="shake buttonz">Shake</button>
      </form>
    </div>
  </div>
</div>