@import url(http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:400,700);

body {
  color: white;
  background-color: white ;
}

p {
  margin: 0;
}

.buttonz {
  background-color: darkgrey;
  color: white;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  font-size: 1em;
}

.askz {
  margin-top: 20px;
}

.askanother {
  background-color: #282828;
  padding: 10px;
}

.buttonz:hover{
  background-color: black;
}

.shake {
  position: absolute;
  display: inline-block;
  left: 75px;
  bottom: 40px;
}

h1 {
  font-family: 'Oleo Script Swash Caps', cursive;
  display: block;
  color: #0023ad;
  background-color: white;
  text-align: center;
}

.outercontainer {
  text-align: center;
  height: 1000px;
  width: 100%;
  background-color: purple;
  padding-top: 20px;
}

.gradient {
  height: 5px;
  background: -webkit-linear-gradient(white, purple); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, purple); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, purple); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, purple); /* Standard syntax */
}

.question {
  margin-bottom: 20px;
  font-size: 1.5em;
}

.ball {
  display: inline-block;
  background: black;
  position: relative;
  text-align: center;
  width: 500px;
  height: 500px;
  -moz-border-radius: 250px;
  -webkit-border-radius: 250px;
  border-radius: 250px;
  background: -webkit-radial-gradient(167px 167px, circle, #484848, #000);
  background: -moz-radial-gradient(167px 167px, circle, #484848, #000);
  background: radial-gradient(167px 167px, circle, #484848, #000);
}

.circle {
  background-color: white;
  color: black;
  position: absolute;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  -moz-border-radius:100px;
  -webkit-border-radius:100px;
  border-radius:100px;
  top: 145px;
  left: 145px;
}

.white {
  color: white;
}

.arrow {
  position: absolute;
  font-size: 3em;
  top: 335px;
}

.backy {
  left: 27%;
}

.forwardy {
  right: 27%;
}

.prompt {
  margin-top: 50px;
}

#question {
  margin-top: 10px;
  width: 170px;
}

.triangle {
  position: absolute;
  bottom: 40px;
  left: 30px;
  color: white;
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 140px solid #171E88;
}

.square {
  position: absolute;
  left: -35px;
  top: 70px;
  width: 66px;
  height: 66px;
  background-color: #171E88;
  padding: 2px;
}

.blue {
  background-color: #000033
}

.container {
  background-color: purple;
}

a:visited {
  text-decoration:none;
  color: white;
}

a:hover {
  text-decoration:none;
  color: white;
}

a:active {text-decoration:none;}