body {
  color: white;
  background-color: indigo;
}

.loveontop {
  display: block;
  text-align: center;
}

.buttonz {
  position: absolute;
  display: inline-block;
  background-color: darkgrey;
  color: white;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  font-size: 1em;
}

.buttonz:hover{
  background-color: black;
}

.shake {
  left: 75px;
  bottom: 40px;
}

h1 {
  text-align: center;
  margin-top: 25px;
  color: black;
}

.outercontainer {
  text-align: center;
  height: 500px;
}

.ball {
  display: inline-block;
  background: black;
  position: relative;
  text-align: center;
  width: 500px;
  height: 500px;
  -moz-border-radius: 250px;
  -webkit-border-radius: 250px;
  border-radius: 250px;
  background: -webkit-radial-gradient(167px 167px, circle, #484848, #000);
  background: -moz-radial-gradient(167px 167px, circle, #484848, #000);
  background: radial-gradient(167px 167px, circle, #484848, #000);
}

.circle {
  background-color: white;
  color: black;
  position: absolute;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  -moz-border-radius:100px;
  -webkit-border-radius:100px;
  border-radius:100px;
  top: 145px;
  left: 145px;
}

.blue {
  background-color: #000033;
  color: #000033;
}

.prompt {
  margin-top: 50px;
}

#question {
  margin-top: 10px;
  width: 170px;
}

.triangle {
  position: absolute;
  bottom: 40px;
  left: 30px;
  color: white;
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 140px solid #171E88;
}

.square {
  position: absolute;
  left: -35px;
  top: 70px;
  width: 66px;
  height: 66px;
  background-color: #171E88;
  padding: 2px;
}

a:visited {
  text-decoration:none;
  color: white;
}

a:hover {
  text-decoration:none;
  color: white;
}

a:active {text-decoration:none;}